@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;500;600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
  font-size: 0.9rem;
}

.violet {
  background-color: #7541c8;
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
}
@media screen and (min-width: 800px) {
  .violet {
    grid-area: violeta;
    background-position-x: 75%;
  }
}

.dark-grayish-blue {
  background-color: #48556a;
}
@media screen and (min-width: 800px) {
  .dark-grayish-blue {
    grid-area: gris;
  }
}

.white {
  background-color: white;
}
@media screen and (min-width: 800px) {
  .white {
    grid-area: white;
  }
}

@media screen and (min-width: 800px) {
  .white2 {
    grid-area: white2;
  }
}

.dark-blackish-blue {
  background-color: #19212e;
}
@media screen and (min-width: 800px) {
  .dark-blackish-blue {
    grid-area: grisOscuro;
  }
}

.text-white {
  color: white;
}

.text-dark {
  color: #19212e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #ecf2f8;
  align-items: center;
  justify-content: center;
  align-self: center;
}
@media screen and (min-width: 800px) {
  .wrapper {
    min-height: 100vh;
  }
}
.wrapper section {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
}
@media screen and (min-width: 800px) {
  .wrapper section {
    width: 80%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    grid-template-areas: "violeta violeta gris white" "white2 grisOscuro grisOscuro white";
    padding: 100px;
  }
}
.wrapper .card {
  border-radius: 8px;
}
.wrapper .card:first-of-type {
  margin-top: 100px;
}
@media screen and (min-width: 800px) {
  .wrapper .card:first-of-type {
    margin-top: 0px;
  }
}
.wrapper .card:last-of-type {
  margin-bottom: 100px;
}
@media screen and (min-width: 800px) {
  .wrapper .card:last-of-type {
    margin-bottom: 0px;
  }
}
.wrapper .wrapper-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.wrapper .wrapper-card .header-card {
  display: flex;
  align-items: center;
}
.wrapper .wrapper-card .header-card .wrapper-card-header-img {
  border: 1px solid #ecf2f8;
  border-radius: 25px;
  width: 30px;
  height: 30px;
}
.wrapper .wrapper-card .header-card .wrapper-card-header-img img {
  width: 30px;
  object-fit: contain;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}
.wrapper .wrapper-card .header-card .wrapper-title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.wrapper .wrapper-card .header-card .wrapper-title span {
  font-size: 0.78rem;
}
.wrapper .wrapper-card .header-card .wrapper-title .sub-title {
  opacity: 50%;
  font-size: 0.78rem;
}
.wrapper .wrapper-card .title p {
  font-weight: 600;
  font-size: 1.325rem;
  line-height: 1.6rem;
}
.wrapper .wrapper-card .description p {
  opacity: 70%;
  font-size: 0.855rem;
  font-weight: 100;
  line-height: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
